<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.piotr.guardianangel">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Dangerous permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- Dangerous permission -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Dangerous permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Dangerous permission -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Dangerous permission -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".ReadSMS.Monitor">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ReadSMS.DialogActivity" />

        <service
            android:name=".ShakePackage.ShakeService"
            android:enabled="true" />
        <service android:name=".GCM.SendMessage" />
        <!-- <service
             android:name=".ScreamService"
             android:enabled="true" />
             <service
             android:name=".demo.PocketSphinxActivity"
             android:exported="true"></service>
         <service
             android:name=".NoiseSpeech.SpeechRecognizerService"
             android:exported="false"></service>
             -->
         <service
             android:name=".NoiseAndSpeechRecognizer.NoiseAlert"
             android:enabled="true" />
         <service
             android:name=".NoiseAndSpeechRecognizer.SpeechService"
             android:enabled="true" />

     </application>

 </manifest>
